{{ attach_library('custom_elearning/custom') }}

<section class="certificate">
  <div class="certificate-container">
    <div class="logo">
      E-Learning
    </div>

    <div class="marquee">
      Certificate of Completion
    </div>
    <div class="course-title">
       " {{ course_title }} "
    </div>
    <div class="assignment">
      This certificate is presented to
    </div>

    <div class="person">
      {{ user_name }}
    </div>

    <div class="reason">
      Your commitment to learning and accomplishment is commendable. Congratulations on your achievement!
    </div>

    <div align="left" class="signature">
      Omkar Yewale
    </div>
    <span class="signature-text"> Signature </span>
  </div>
</section>
